@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Write your own custom component styles here */
.btn {
  @apply bg-gray-800 opacity-60 hover:opacity-40 rounded-md text-white text-xl px-9 py-2 m-1 font-semibold;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
